/* load castledown */
@font-face {
  font-family: Castledown;
  src: url(../assets/font/Castledown.ttf);
}

body {
  background-color: #fafdf7;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

img {
  margin-top: 4em;
  margin-bottom: 3em;
}

button {
  font-family: Castledown;
  background-color: #fafdf7;
  font-size: 1em;
  border-radius: 1em;
  padding: 0.2em 1em;
}

/* click the button */
button:active {
  background-color: #000;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

p {
  font-family: Castledown;
  color: #4c5357;
}

a {
  font-family: Castledown;
  text-decoration: none;
  text-decoration: underline;
  color: #4c5357;
}
