<!doctype html>
<html>
  <head>
    <title>Keyboard</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/index.css">
  </head>

  <!-- on load, run keystroke listeners -->
  <body>

  <div id="container">
    <img src="../assets/img/title.png" alt="no title slide">

  <form >
    <button id="smallWindow">LET'S GO!</button>
  </form>
    <!-- <input type="text" name="username" id="username"> -->
    <!-- <p>probably should have some type of instructionss here</p> -->
  </div>

  <footer>
    <p>&#169; IAT 2000 - Directed Study</p>
    <a href="https://github.com/eathnma/Directed-Study">GITHUB</a>
  </footer>
    <!-- import main.js file-->
    <script type="text/javascript" src="../main.js"></script>

  </body>

</html>