<!doctype html>
<html>
  <head>
    <title>Keyboard</title>
    <link type="text/css" rel="stylesheet" href="../css/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/index.css">
  </head>

  <!-- on load, run keystroke listeners -->
  <body>

  <header>

  </header>
  
  <div id="container">
      <img src="../assets/img/title.png" alt="no title slide">

    <!-- <input type="text" name="username" id="username"> -->
    <p>Use the a,s,d,f, keys to create sounds.</p>
    <button id="smallWindow">LET'S GO!</button>


  </div>
    <!-- import main.js file-->
    <script type="text/javascript" src="../main.js"></script>

  </body>

</html>