<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Keyboard</title>
     <!-- import paper.js-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js"></script>
     <!-- import Inter from Google Fonts API-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
     <link type="text/css" rel="stylesheet" href="../css/grid.css">
  </head>

  <!-- on load, run keystroke listeners -->
  <body class="container">
    <header>
        <h4>Frank's Team</h4>
        <h5 id="displayUsername"></h5>
    </header> 

    <article id="user-list">
        <!-- dynamically created content -->
    </article>  

    <footer>
        <div id="volume-container">
            <img id="volume-img" src="../assets/img/Volume.png" alt="no-volume">
            <input type="range" id="volume" name="volume" min="0" max="10"> 
            <button id="button"> change chord</button>
        </div>
    </footer>

    <!-- <p id="keyPrint"></p>

    <div id="draw-group">

    </div>

    <div id="draw-animation">

    </div> -->

    <!--  import socket.io cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script type="module" src="../main.js"></script>

    <!-- import person -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.68/Tone.js" integrity="sha512-eBjUIAF/NN5kcGlFXz5n9UMAv+LKYFqtGnqHu83qQCXRJaL6iSsjFeOdft9AK9lD/9meTkj/5ctn6DGV5rz6Pg==" crossorigin="anonymous"></script>
    <script type="module" src="../personFolder/person.js"></script>

    <!-- import workapp -->
    <script type="module" src="../workapp.js"></script>
   
     <!-- import tone.js -->
     <!-- js sound library for loading instruments and such -->
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.68/Tone.js" integrity="sha512-eBjUIAF/NN5kcGlFXz5n9UMAv+LKYFqtGnqHu83qQCXRJaL6iSsjFeOdft9AK9lD/9meTkj/5ctn6DGV5rz6Pg==" crossorigin="anonymous"></script> -->
     <!-- <script type="module" src="../sound/keyboard.js"></script> -->

    <!-- import two.min.js -->
    <!-- drawing out the individual notes for each user -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.7.0/two.min.js"></script>
     <script type="module" src="../visualization/notes.js"></script>

  </body>

</html>