<!DOCTYPE html>
<html>
  <head>
    <title>Keyboard</title>
     <!-- import paper.js-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.min.js"></script>
     <!-- import Inter from Google Fonts API-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
     <link type="text/css" rel="stylesheet" href="../css/grid.css">
  </head>

  <!-- on load, run keystroke listeners -->
  <body class="container">
    <header>
        <P></P>
        <h4>Workestra</h4>
        <P></P>
    </header> 

    <article>
        <div>
            <div id="user1">

            </div>
            <img id="clickme" src="../assets/img/dino1.png" alt="Edith">
            <h6 style="text-align: center;">You</h6>
        </div>

        <div>
            <div id="user2">

            </div>
            <img src="../assets/img/dino2.png" alt="Frank">
            <h6 style="text-align: center;">Frank</h6>
        </div>

        <div>
            <div id="user3">

            </div>
            <img src="../assets/img/dino3.png" alt="Hason">
            <h6 style="text-align: center;">Hason</h6>
        </div>

        <div>
            <div id="user4">

            </div>
            <img src="../assets/img/dino4.png" alt="Jennifer">
            <h6 style="text-align: center;">Jennifer</h6>
        </div>

        <div>
            <div id="user5">

            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img id="zzz" src="../assets/img/zzz.png" alt="zzz">
                <img src="../assets/img/dino5.png" alt="Jennifer"> 
            </div>
            <h6 style="text-align: center;">Jennifer</h6>
        </div>

     
    </article>  

    <!-- <footer>
        <button id="button">Change Chord!</button>
    </footer> -->

    <!-- <p id="keyPrint"></p>

    <div id="draw-group">

    </div>

    <div id="draw-animation">

    </div> -->
    <!-- import main.js file-->
    <script type="text/javascript" src="../main.js"></script>

     <!-- import tone.js -->
     <!-- js sound library for loading instruments and such -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.68/Tone.js" integrity="sha512-eBjUIAF/NN5kcGlFXz5n9UMAv+LKYFqtGnqHu83qQCXRJaL6iSsjFeOdft9AK9lD/9meTkj/5ctn6DGV5rz6Pg==" crossorigin="anonymous"></script>
     <script type="module" src="../sound/keyboard.js"></script>

    <!-- import two.min.js -->
    <!-- drawing out the individual notes for each user -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.7.0/two.min.js"></script>
     <script type="module" src="../visualization/notes.js"></script>

    <!-- import draggable.js -->
    <!-- for sound oscillation. When user wiggles an avatar, the sound is manipulated -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.12/draggable.min.js"></script>
    <script type="module" src="../sound/mouse.js"></script>

    <!--  import socket.io cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    
    <script>
      var socket = io();
    </script>

  </body>

</html>